//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 27 15:30:33 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "y<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "y<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "y<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "y<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "rota" LOCATE = SITE "K18" LEVEL 1;
COMP "rotb" LOCATE = SITE "G18" LEVEL 1;
COMP "PB<0>" LOCATE = SITE "K17" LEVEL 1;
PIN PB<0>_pin<0> = BEL "PB<0>" PINNAME PAD;
PIN "PB<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB<1>" LOCATE = SITE "D18" LEVEL 1;
PIN PB<1>_pin<0> = BEL "PB<1>" PINNAME PAD;
PIN "PB<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "PB<2>" LOCATE = SITE "V4" LEVEL 1;
PIN PB<2>_pin<0> = BEL "PB<2>" PINNAME PAD;
PIN "PB<2>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "data<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "data<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "data<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "data<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "lcd_e" LOCATE = SITE "M18" LEVEL 1;
COMP "lcd_w" LOCATE = SITE "L17" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "L18" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

